<ng-snotify></ng-snotify>
<div class="container-fluid">
  <div class="row p-4">
    <div class="col-md-3 h-100">
      <ul class="list-group h-100">

        <li class="list-group-item">
          <a routerLink="/" class="nav-item">Home</a>
        </li>
        <li class="list-group-item">
          <a routerLink="/team-blue-users" class="nav-item">Team Blue</a>
        </li>
        <li class="list-group-item">
          <a routerLink="/team-green-users"  class="nav-item">Team Green</a>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>