<section class="card">
    <div class="card-header">
        Team Green Users
    </div>
    <div class="card-body"  *ngIf="teamGreenUsers$ | async as users; else noUser">
        <div class="card my-4" *ngFor="let user of users">
            <div class="card-body">
              <h5 class="font-weight-bold">Name : {{ user?.name }}</h5>
              <p>Email : {{ user?.email }}</p>
            </div>
            <div class="card-footer text-white" [ngClass]="
            {
                'bg-primary': user?.team == 'TEAM_BLUE',
                'bg-success' : user?.team == 'TEAM_GREEN'
            }
            ">
              </div>
          </div>
    </div>
  </section>

  <ng-template #noUser>
      <p class="text-center my-4">No User Registered yet!</p>
  </ng-template>
